@import "../../../style/variables.scss";

.btnActive,
.btnUnactive {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #adb5bd;
    color: $colorAccentOrange;
    // color: #e2e7eb;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0 0 0.5rem 1rem;
    transition: all 300ms;
}

.btnUnactive {
    color: #7c838ab8;
    transition: all 300ms;
}
