.transparentBtn {
    background: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: none;
    color: #3bc9db;
    font-size: 1.2rem;
    border-radius: 3rem;

    &:hover {
        background-color: #3bc8db21;
    }
}