@import "../../../style/variables.scss";

input[type="radio"] {
    display: none;
}

.radioContainer {
    width: 100%;
    height: 100%;
    margin: 2px 0 2px 0;
    cursor: pointer;
}

.textContainer,
.textContainerChecked {
    cursor: pointer;
    height: 100%;
    min-height: 5rem;
    width: 100%;
    padding: 1rem;
    // background-color: #343a40;
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 0.5rem;

    & span {
        font-size: 1.4rem;;
        color: #ced4da;
    }
}

.textContainerChecked {
    border: 1px solid #5e666e;
    background-color: #2125295a;
    & span {
        color: $colorAccentOrange;
    }
}
