@import "../../../style/variables.scss";

.btn,
.btnShare,
.btnSpinner {
    cursor: pointer;
    background-color: transparent;
    // border: 1px solid #3bc8db89;
    border: 1px solid $colorBorderLight;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    margin-bottom: 0.5rem;

    & .icon {
        width: 55%;
    }
}

.btnShare .icon {
    width: 45%;
}

.btnSpinner {
    display: flex;
    width: 4rem;
    // place-items: center;
}

.btnSpinner .icon {
    width: 100%;
}



.btn:hover,
.btnShare:hover {
    background-color: $backColorTransparent;
}