.btnHome,
.btnHomeUnactive {
    position: absolute;
    cursor: pointer;
    top: 4rem;
    right: 2rem;
    // background-color: #868e96;
    // background-color: #3bc9db;
    border: 1px solid #3bc8db89;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 4px;
    display: grid;
    place-items: center;
}

.btnHome:hover {
    background-color: #3bc8db21;
}

.btnHomeUnactive {
    background-color: #495057;
    // border: 1px solid #868e96;
    border: none;
    cursor: auto;
}