
.cardContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-items: flex-end;
    flex-grow: 1;
    padding-bottom: 10%;

    & p, span {
        font-size: 1.8rem;
        text-align: center;
        color: #e3eaf1;
        // color: #3bc9db;
        
        @media (min-width: 700px) {
            font-size: 1.6rem;
            font-weight: 500;
        }

        & span {
            background-color: #00000098;
            padding: 4px;
            line-height: 1.5;
        }
    }
}

.reactionDiv  {
    align-self: flex-start;
    margin-bottom: 2rem;
    transition: all 1000ms;
}