@import "../../../style/variables.scss";
// $colorAccentOrange;

:root {
    --toastify-icon-color-success: #F59F00 !important;
    --toastify-color-success: #F59F00 !important;
}

.sideBarNav {
    align-self: flex-end;
    z-index: 100;
}

.divDeveloper {
    display: flex;
    flex-direction: column;
    // align-self: flex-end;
    position: absolute;
    top: 2rem;
    align-self: flex-start;
}
