.headerProfile {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid #adb5bd2b;

}
.avatar {
    background-color: #adb5bd;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: 2rem;
}
.name {
    text-align: left;
    margin: 2rem 0 0.5rem 0;
    font-size: 1.8rem;
    font-weight: 900;
    color: #adb5bd;
}
.details {
    font-size: 1.2rem;
    color: #adb5bd;
}

.btnDiv {
    display:flex;
    flex-grow: 1;
    align-self: flex-start;
    justify-content: flex-end;
}
.btnLogout {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #adb5bd;
    cursor: pointer;

    & i {
        & img {
            padding-top: 1px;
            height: 1rem;
        } 
    }

    // &:hover {
    //     color: aquamarine;
    // }
}

