* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-size: 10px;

}

html {
    font-size: 62.5%;
    // font-size: 50%;
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 360px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {
            font-size: 50%;
        }
}

body {
    background: #171a1c;
}

a,
a:-webkit-any-link {
    text-decoration: none;
}
