.profileSection {
    width: 100%;
    margin: 0rem 0 1rem 0;
}
.title {
    text-align: left;
    
    font-size: 2rem;
    font-weight: 900;
    // color: #d7e0e9;
    color: #f59f00;
}

.description {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #adb5bd;
    // color: #adb5bdaa;
    line-height: 1.3;

    @media (min-width: 700px) {
        font-size: 1.4rem;
    }
}