.blogerNoTest {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #2E3338;
  border-radius: 5px;
  
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #AEB5BC;
}