.iconLock {
    position: absolute;
    top: 50%;
    // left: 50%;
    transform: translate(90%, -50%);
    z-index: 100;

    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.coverBlur {
    position: relative;
    width: 100%;
    height: 100%;
    // height: 14rem;
    // backgroundImage from useRef.current
    /* Add the blur effect */
    filter: blur(3px) ;
    -webkit-filter: blur(2px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 0.5rem 0 0 0.5rem;
    // z-index: 300;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #181b1e88;
    }

    &:hover {
        opacity: 0.4;
    }
}

.picsCircleOpen {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border: 2px solid #181b1e;
    border-radius: 2rem;
    margin-left: -2.5rem;
}