.iconLock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coverBlur {
    position: relative;
    width: 100%;
    height: 100%;
    // backgroundImage from useRef.current
    /* Add the blur effect */
    filter: blur(3px) ;
    -webkit-filter: blur(3px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 0.5rem 0 0 0.5rem;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;

        background-color: #181b1e88;
    }

    &:hover {
        opacity: 0.4;
    }
}
